.dash {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashContent {
    height: calc(100vh - 65px);
}

.rol {
    width: 100%;
    overflow-y: auto;
    &.pad {
        padding: 2rem;
    }
}