.search {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
    margin: 8px 0;
    >input {
        width: 100%;
        border-radius: 0;
        border: none;
        padding: .5rem;
    }
    >button {
        background-color: #4AA7EA;
        border: none;
        height: 100%;
        padding: 8px 12px;
        color: #fff;
        &:hover {
            cursor: pointer;
            opacity: .9;
        }
    }
}

@media screen and (max-width:921px) {
    .search {
        width: 100%;
    }
}