<label inputAnimated>
    <input type={{type}} name={{name}} autocomplete="off" value={{value}}> 
    <span class="placeholder">{{placeholder}}</span>
    {{#ifEquals type "password"}}
        <span class="fas fa-eye eye"></span>
    {{/ifEquals}}
</label>