//COLORS
$text:#192229;
$firstColor: #1690e8;
$subtitle:#6B6F72;

$err:red;

//SETTINGS
$maxWidth: 1175px;
$padWrapperMobile: .75rem;
$padWrapperDesktop: 2rem;
$headerHeight: 65px;

//MEDIA'S
$mediaDesktop: 770px;
$mediaTablet: 0px;
