{{>header}}
<main class="wrapper main">
    <section class="hero_main">
        <div class="mockup">
            <img src="{{host}}/images/HeroImg.svg" alt="Conéctate con nosotros">
        </div>

        <div class="containerText">
            <h1>¡Bienvenido a GikEdu!</h1>
            <p>Accede a tu historial estudiantil, notas, estadísticas, entre otros datos.</p>
            <div class="capButton">
                <a href="{{host}}/docs" class="button-ghost">Leer más</a>
            </div>
        </div>
    </section>
    <footer>
        <p>Si eres una institución y deseas obtener nuestros servicios, puedes hacerlo dando <a class="alink" href="{{host}}/signup">click aquí</a></p>
    </footer>
</main>

