<div class="miembros">
    <header class="miembros-header">
        <h3>Miembros</h3>
        {{>search placeholder="Buscar miembro, grupo, rol..."}}
    </header>
    <div class="miembros-content">
    
            <div class="miembro">
                <img class="profile-img" src="{{host}}/images/User.svg" alt="Imagen usuario">
                <span>{{data.username}}</span>
                <span>{{data.rol}}</span>
                <span>11-B</span>
                <img class="arrow-down" src="{{host}}/images/arrow.svg" alt="">
                <span></span>
            </div>
    </div>
    <div class="miembros-footer">
        
    </div>
</div>